@charset "UTF-8";
/* Слайдер */
.slick-slider {
  display: flex;
}

/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slider .slick-list {
  padding: 0px;
}

/* Лента слайдов */
.slick-track {
  display: flex;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.slick-dots {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 5px;
  margin-top: 131px;
  width: 137px;
}
.slick-dots button {
  font-size: 0;
  width: 8px;
  height: 8px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0;
  margin-left: 16px;
}
.slick-dots button:nth-child(2) {
  margin-left: 21px;
}
.slick-dots button:nth-child(3) {
  margin-left: 7px;
}
.slick-dots .slick-active button {
  background-color: #ffffff;
  width: 13px;
  height: 13px;
  border: 0;
}

.slider_wrapper {
  background-image: url("../images/slider.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  overflow: hidden;
  display: grid;
}
.slider_wrapper .container {
  max-width: 1170px;
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 0px;
}
.slider_wrapper .container .slider_container {
  padding: 46px 0px 60px 0px;
  height: 640px;
  width: 100%;
  overflow: hidden;
}
.slider_wrapper .container .slider_container .title_slider {
  text-align: center;
}
.slider_wrapper .container .slider_container .title_slider h6 {
  color: #008ed6;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.7px;
  line-height: 48px;
  text-transform: uppercase;
  font-family: "source_sans_pro_regular";
}
.slider_wrapper .container .slider_container .title_slider h1 {
  font-size: 36px;
  color: #1a1a1a;
  letter-spacing: 0px;
  line-height: 20px;
  font-family: "source_sans_pro_semibold";
  color: #ffffff;
}
.slider_wrapper .container .slider_container .title_slider .line {
  position: relative;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
  width: 42px;
  padding: 0px;
  margin: 30.4px auto 0px auto;
}
.slider_wrapper .container .slider_container .title_slider .line .lines {
  width: 20px;
  display: flex;
  border-bottom: 2px solid #008ed6;
}
.slider_wrapper .container .slider {
  position: relative;
  overflow-x: hidden;
  padding-top: 86px;
  padding-bottom: 60px;
  display: flex;
  height: 100%;
  justify-content: center;
  box-sizing: border-box;
}
.slider_wrapper .container .slider .slick-track {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  padding-right: 12px;
  padding-left: 12px;
  box-sizing: border-box;
}
.slider_wrapper .container .slider img {
  width: 59px;
  height: 59px;
}
.slider_wrapper .container .slider .slide p {
  max-width: 560px;
  width: 100%;
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
  line-height: 32px;
  text-align: left;
  font-family: "source_sans_pro_italic";
}
.slider_wrapper .container .slider .author {
  display: flex;
  margin-top: 22px;
  width: 100%;
}
.slider_wrapper .container .slider .author span {
  padding: 4px 0px 0px 24px;
  color: #ffffff;
  font-family: "source_sans_pro_regular";
  font-size: 16px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}
.slider_wrapper .container .slider .author span .name {
  font-size: 14px;
  font-weight: 700;
  padding: 5px 0px 0px 0px;
  letter-spacing: 0.4px;
}
.slider_wrapper .container .slider .second_slide p {
  margin: 0px;
}
.slider_wrapper .container .slider .second_slide .author span {
  margin-left: 2px;
}