body {
  overflow-x: hidden;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  display: grid;
}

.main_container {
  max-width: 1170px;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.overview_wrapper {
  width: 100%;
  overflow: hidden;
  display: grid;
  border-bottom: 1px solid red;
}

.detalis_wrapper {
  width: 100%;
  overflow: hidden;
  display: grid;
  padding: 66px 0px 0px 62px;
}
.detalis_wrapper h6 {
  color: #008ed6;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.7px;
  line-height: 48px;
  text-transform: uppercase;
  font-family: "source_sans_pro_regular";
  letter-spacing: 0.6px;
  line-height: 48px;
}
.detalis_wrapper h1 {
  font-size: 36px;
  color: #1a1a1a;
  letter-spacing: 0px;
  line-height: 20px;
  font-family: "source_sans_pro_semibold";
}
.detalis_wrapper p {
  font-family: "source_sans_pro_light";
  line-height: 26px;
  letter-spacing: 0.21px;
  color: brown;
  text-indent: -4.1px;
  font-size: 18px;
  max-width: 470px;
  width: 100%;
  text-indent: 0;
  margin-top: 23px;
  letter-spacing: 0.25px;
}
.detalis_wrapper .detalis_description {
  display: flex;
  flex-direction: column;
  padding: 38px 0px 0px 83px;
}
.detalis_wrapper .detalis_description .line {
  position: relative;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
  width: 42px;
  padding: 0px;
}
.detalis_wrapper .detalis_description .line .lines {
  width: 20px;
  display: flex;
  border-bottom: 2px solid #008ed6;
}
.detalis_wrapper .detalis_description span {
  color: #1a1a1a;
  font-weight: 400;
  line-height: 36px;
}
.detalis_wrapper .detalis_description div {
  display: flex;
  flex-direction: column;
  margin-top: 9px;
}
.detalis_wrapper .detalis_description .energy_img {
  padding-left: 1.2px;
}
.detalis_wrapper .second_detalis_description {
  padding: 70px 0px 0px 11.5px;
}
.detalis_wrapper .second_detalis_description .line {
  position: relative;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
  width: 42px;
  padding: 0px;
  margin-top: 37px;
}
.detalis_wrapper .second_detalis_description .line .lines {
  width: 20px;
  display: flex;
  border-bottom: 2px solid #008ed6;
}
.detalis_wrapper .second_detalis_description span {
  letter-spacing: 0.4px;
}
.detalis_wrapper .second_detalis_description p span {
  letter-spacing: 0.35px;
}
.detalis_wrapper .thirth_part {
  padding: 33px 0px 19px 0px;
}
.detalis_wrapper .thirth_part img {
  margin-top: -10px;
  margin-left: -16px;
}

.left_wrapper {
  padding: 33px 0px 0px 0px;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 41px;
}

.logo {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  font-family: "source_sans_pro_regular";
  font-weight: 700;
  color: #ffffff;
  font-family: "quicksand_regular";
  font-size: 24px;
  text-align: left;
  text-transform: uppercase;
  display: flex;
}
.logo span {
  margin-top: -4px;
}
.logo .u {
  font-style: normal;
  letter-spacing: -2.4px;
  line-height: normal;
}
.logo .l {
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.logo .cid {
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.onepage_theme {
  margin-top: -1px;
  width: 44px;
  height: 16px;
  opacity: 0.3;
  font-size: 9px;
  margin-left: 7px;
  line-height: 10px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.14em;
  color: #ffffff;
}
.onepage_theme .onepage {
  font-style: normal;
  letter-spacing: 1.26px;
  line-height: normal;
}

nav {
  display: flex;
  margin-top: 2px;
  padding-top: 2px;
  padding-right: 0px;
  color: #fffefe;
}
nav ul {
  display: flex;
  margin-left: auto;
}
nav li {
  font-family: "source_sans_pro_semibold";
  font-size: 16px;
  list-style-type: none;
  margin-top: -7px;
  margin-left: 23.5px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
}
nav li:hover {
  border-bottom: 1px solid #008ed6;
  top: 100px;
}

.photo {
  max-height: 640px;
  width: 100%;
  position: absolute;
}

.description_header {
  padding-top: 66px;
  display: flex;
  flex-direction: column;
}

.no-gutter > [class*=col-] {
  padding-right: 0px;
  padding-left: 0;
  margin-left: 0;
}

body .wrapper .main_container .no-gutter, body .overview_wrapper .main_container .no-gutter, body .detalis_wrapper .main_container .no-gutter {
  margin: 0;
  padding-left: 0px;
  padding-right: 0px;
}

.header_content h6 {
  color: #008ed6;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.7px;
  line-height: 48px;
  text-transform: uppercase;
  font-family: "source_sans_pro_regular";
}
.header_content h1 {
  color: #ffffff;
  font-family: "source_sans_pro_semibold";
  font-size: 48px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: normal;
  line-height: 48px;
}
.header_content p {
  font-weight: 400;
  text-align: left;
  font-size: 18px;
  margin-top: 13px;
  font-style: normal;
  letter-spacing: normal;
  color: #999999;
  text-transform: none;
  letter-spacing: -0.6712px;
}
.header_content p span {
  display: block;
}
.header_content img {
  padding-top: 45px;
  margin-left: 94px;
}
.header_content .button {
  display: flex;
  margin-top: 39px;
}

main {
  display: flex;
  flex-direction: column;
  padding-top: 46px;
}
main .product_overview_container {
  padding-bottom: 70px;
  text-align: center;
}
main .product_overview_container span {
  color: #008ed6;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.7px;
  line-height: 48px;
  text-transform: uppercase;
  font-family: "source_sans_pro_regular";
}
main .product_overview_container h1 {
  font-size: 36px;
  font-weight: 600;
  text-transform: none;
  letter-spacing: normal;
  color: #1a1a1a;
}

.download_button {
  background-color: #008ed6;
  box-shadow: 0 0 3px rgba(3, 3, 3, 0.1);
  padding: 15px 30px 0px 28px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "source_sans_pro_regular";
}

.view_button {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 14px 31px 13px 27px;
  color: #ffffff;
  margin-left: 20px;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  box-sizing: border-box;
  font-family: "source_sans_pro_regular";
}

.product_element {
  display: flex;
  flex-direction: column;
  padding-top: 90px;
}
.product_element .circle {
  width: 89px;
  height: 89px;
  border-radius: 50%;
  background-color: red;
  position: relative;
  align-self: center;
  justify-self: center;
  margin-top: 3px;
}
.product_element .circle img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.product_element .description_product {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  font-family: "source_sans_pro_regular";
}
.product_element .description_product h6 {
  color: #1a1a1a;
  font-size: 24px;
  font-family: "source_sans_pro_regular";
  margin-top: 31px;
  line-height: 29px;
}
.product_element .description_product p {
  max-width: 229px;
  width: 100%;
  margin: 0 auto;
  font-family: "source_sans_pro_light";
  line-height: 26px;
  letter-spacing: 0.21px;
  color: brown;
  text-indent: -4.1px;
  font-size: 18px;
}

.left {
  margin-right: 6.5px;
}

.right {
  margin-left: 6px;
}

.background {
  background-color: #999999;
}

.addition_slider_wrapper {
  width: 100%;
  background-color: #15141a;
  padding: 60px 0px 50px 0px;
  margin-top: -1px;
}
.addition_slider_wrapper .addition_slider_content {
  display: flex;
}
.addition_slider_wrapper .addition_slider_content span {
  padding: 14px 0px 6px 0px;
  font-size: 36px;
  color: #1a1a1a;
  letter-spacing: 0px;
  line-height: 20px;
  font-family: "source_sans_pro_semibold";
  float: left;
  color: #ffffff;
}
.addition_slider_wrapper .addition_slider_content .get_theme {
  font-weight: 300;
  font-family: "source_sans_pro_light";
  text-indent: 10px;
}
.addition_slider_wrapper .addition_slider_content .button_container {
  margin-left: auto;
  display: flex;
  padding-bottom: 10px;
}
.addition_slider_wrapper .addition_slider_content .view_button {
  margin: 0px 20px 0px 0px;
}

.price_list_container {
  padding-bottom: 59px;
}
.price_list_container .title {
  padding: 42px 0px 70px;
  text-align: center;
}
.price_list_container .title h6 {
  color: #008ed6;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.7px;
  line-height: 48px;
  text-transform: uppercase;
  font-family: "source_sans_pro_regular";
}
.price_list_container .title h1 {
  font-size: 36px;
  color: #1a1a1a;
  letter-spacing: 0px;
  line-height: 20px;
  font-family: "source_sans_pro_semibold";
}
.price_list_container .title .line {
  position: relative;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
  width: 42px;
  padding: 0px;
  margin: 39px auto 0px auto;
}
.price_list_container .title .line .lines {
  width: 20px;
  display: flex;
  border-bottom: 2px solid #008ed6;
}
.price_list_container .price_list_element {
  display: flex;
  flex-direction: column;
}
.price_list_container .price_list_element .type {
  padding: 19px 0px 15px;
  color: #1a1a1a;
  font-family: "source_sans_pro_regular";
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  width: 100%;
  border: 1px solid red;
  text-transform: uppercase;
}
.price_list_container .price_list_element .price {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 18px 0px 29px;
  border: 1px solid red;
  border-top-style: none;
}
.price_list_container .price_list_element .price .dollars {
  font-family: "source_sans_pro_semibold";
  font-size: 34px;
  line-height: 20px;
  font-weight: 600;
  color: #1a1a1a;
}
.price_list_container .price_list_element .price .number {
  font-size: 60px;
  font-family: "source_sans_pro_semibold";
  margin-right: 5px;
}
.price_list_container .price_list_element .price .inscription {
  font-size: 18px;
  margin-top: -15px;
  font-weight: 400;
  color: #999999;
  font-family: "source_sans_pro_regular";
}
.price_list_container .price_list_element .description {
  border: 1px solid red;
  border-top-style: none;
  padding: 47px 34px 29px 35px;
  text-align: center;
}
.price_list_container .price_list_element .description p {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  font-family: "source_sans_pro_regular";
  line-height: 26px;
}
.price_list_container .price_list_element .description p span {
  color: #008ed6;
}
.price_list_container .price_list_element .description .order_button {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 14px 31px 13px 27px;
  color: #ffffff;
  margin-left: 20px;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  box-sizing: border-box;
  font-family: "source_sans_pro_regular";
  max-width: 160px;
  width: 100%;
  border: 1px solid #e0e0e0;
  color: #008ed6;
  margin: 40px auto 0px;
  text-indent: 2px;
}
.price_list_container .compare {
  padding: 0px 12px;
}

.contact_us_wrapper {
  width: 100%;
  overflow: hidden;
  display: grid;
  background-color: #ededed;
  padding-top: 40px;
}
.contact_us_wrapper .title {
  text-align: center;
}
.contact_us_wrapper .title h6 {
  color: #008ed6;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.7px;
  line-height: 48px;
  text-transform: uppercase;
  font-family: "source_sans_pro_regular";
}
.contact_us_wrapper .title h1 {
  font-size: 36px;
  color: #1a1a1a;
  letter-spacing: 0px;
  line-height: 20px;
  font-family: "source_sans_pro_semibold";
}
.contact_us_wrapper .title .line {
  position: relative;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
  width: 42px;
  padding: 0px;
  margin: 39px auto 0px auto;
}
.contact_us_wrapper .title .line .lines {
  width: 20px;
  display: flex;
  border-bottom: 2px solid #008ed6;
}
.contact_us_wrapper .contact_element {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.contact_us_wrapper .contact_element span {
  font-family: "source_sans_pro_regular";
  display: block;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #999999;
}
.contact_us_wrapper .phone_element {
  margin: 0 auto;
  padding: 58px 0px 0px 4px;
}
.contact_us_wrapper .phone_element img {
  width: 18px;
  height: 32px;
  margin: 0px auto 30px;
}
.contact_us_wrapper .pointer_element {
  margin: 0 auto;
  padding: 58px 0px 0px 24px;
}
.contact_us_wrapper .pointer_element img {
  width: 24px;
  height: 32px;
  margin: 0px auto 30px;
}
.contact_us_wrapper .mail_element {
  margin: 0 auto;
  padding: 63px 0px 0px 42px;
}
.contact_us_wrapper .mail_element img {
  width: 32px;
  height: 22px;
  margin: 0px auto 30px;
}
.contact_us_wrapper .mail_element span {
  text-indent: -25px;
  padding-top: 2px;
}
.contact_us_wrapper .form_container {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0;
  margin-left: 9px;
  margin-top: 10px;
}
.contact_us_wrapper .form_container form {
  max-width: 770px;
  width: 100%;
  background-color: #15141a;
  padding: 37px 95px 40px 66px;
  color: #be8686;
  display: flex;
}
.contact_us_wrapper .form_container form .compare {
  margin-left: 19px;
  height: 190px;
}
.contact_us_wrapper .form_container form input {
  width: 300px;
  background-color: #15141a;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 13px 18px 10px 18px;
  margin-top: 21.7px;
}
.contact_us_wrapper .form_container form input::placeholder {
  opacity: 0.2;
  color: #ffffff;
  font-family: "source_sans_pro_regular";
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.colr {
  background-color: green;
}