body {
  overflow-x: hidden;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  display: grid;
}

.header_wrapper {
  width: 100%;
  background-image: url("../images/photo.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  overflow: hidden;
  display: grid;
}

.main_container {
  max-width: 1170px;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.overview_wrapper {
  width: 100%;
  overflow: hidden;
  display: grid;
  border-bottom: 1px solid #e0e0e0;
}

.detalis_wrapper {
  width: 100%;
  overflow: hidden;
  display: grid;
  padding: 65px 0px 0px 64px;
}
.detalis_wrapper h6 {
  color: #008ed6;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.7px;
  line-height: 48px;
  text-transform: uppercase;
  font-family: "source_sans_pro_regular";
  letter-spacing: 1.7px;
  line-height: 48px;
  font-size: 14px;
}
.detalis_wrapper h1 {
  font-size: 36px;
  color: #1a1a1a;
  letter-spacing: 0px;
  line-height: 20px;
  font-family: "source_sans_pro_semibold";
}
.detalis_wrapper p {
  font-family: "source_sans_pro_light";
  line-height: 26px;
  letter-spacing: 0.21px;
  color: #999999;
  text-indent: -4.1px;
  font-size: 18px;
  max-width: 470px;
  width: 100%;
  text-indent: 0;
  margin-top: 25px;
  margin-bottom: 27px;
  letter-spacing: 0.29px;
}
.detalis_wrapper .second_part .detalis_description {
  display: flex;
  flex-direction: column;
  padding: 34px 0px 0px 80px;
}
.detalis_wrapper .second_part .detalis_description .line {
  position: relative;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
  width: 42px;
  padding: 0px;
}
.detalis_wrapper .second_part .detalis_description .line .lines {
  width: 20px;
  display: flex;
  border-bottom: 2px solid #008ed6;
}
.detalis_wrapper .second_part .detalis_description .description_device_container .description_device {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  color: #1b1b1b;
  font-family: "source_sans_pro_regular";
  line-height: 35px;
}
.detalis_wrapper .second_part .detalis_description .description_device_container .description_device img {
  height: 17px;
  display: block;
  margin-left: 0px;
  margin-top: 7px;
  margin-right: 9px;
}
.detalis_wrapper .second_part .detalis_description .description_device_container .description_device .mouse {
  margin-left: 3px;
}
.detalis_wrapper .second_part .detalis_description .description_device_container .description_device .energy {
  margin-left: 3px;
  margin-top: 9px;
}
.detalis_wrapper .second_part .detalis_description .description_device_container .description_device .speedometer {
  margin-top: 10px;
}
.detalis_wrapper .second_part .detalis_description .description_device_container span {
  margin: 0px 0px 0px 0px;
}
.detalis_wrapper .second_part .detalis_description .description_device_container div {
  display: flex;
  flex-direction: column;
}
.detalis_wrapper .second_part .device_img {
  width: 510px;
  height: auto;
  margin-left: -12px;
}
.detalis_wrapper .second_detalis_description {
  padding: 66px 0px 0px 11.5px;
}
.detalis_wrapper .second_detalis_description .line {
  position: relative;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
  width: 42px;
  padding: 0px;
  margin-top: 39px;
}
.detalis_wrapper .second_detalis_description .line .lines {
  width: 20px;
  display: flex;
  border-bottom: 2px solid #008ed6;
}
.detalis_wrapper .second_detalis_description span {
  letter-spacing: 0.4px;
}
.detalis_wrapper .second_detalis_description p {
  margin-top: 23px;
}
.detalis_wrapper .second_detalis_description p span {
  letter-spacing: 0.35px;
}
.detalis_wrapper .thirth_part {
  padding: 33px 0px 20px 0px;
}
.detalis_wrapper .thirth_part img {
  margin-top: -15px;
  margin-left: -16px;
}

.left_wrapper {
  padding: 33px 0px 0px 0px;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 41px;
  align-items: center;
}
header .header__nav {
  display: block;
}
header nav {
  display: flex;
  margin-top: 2px;
  padding-top: 2px;
  padding-right: 0px;
  padding-left: 0px;
  color: #fffefe;
}
header nav .header__menu {
  display: flex;
  position: relative;
  z-index: 2;
  float: right;
}
header nav .header__menu a {
  color: #ffffff;
  text-decoration: none;
}
header nav .header__menu li {
  font-family: "source_sans_pro_semibold";
  font-size: 16px;
  list-style-type: none;
  margin-top: -7px;
  margin-left: 23.5px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  position: relative;
}
header nav .header__menu li:hover::before {
  display: block;
  content: "";
  width: 20px;
  height: 2px;
  background-color: #008ed6;
  position: absolute;
  text-align: center;
  left: 32%;
  margin-top: 31px;
  transform: translate(-11px);
}
header nav .header__menu li:hover::after {
  display: block;
  content: "";
  width: 20px;
  height: 2px;
  background-color: #008ed6;
  position: absolute;
  text-align: center;
  left: 32%;
  transform: translate(11px);
  margin-top: 7px;
}

.logo {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  font-family: "source_sans_pro_regular";
  font-weight: 700;
  color: #ffffff;
  font-family: "quicksand_regular";
  font-size: 24px;
  text-align: left;
  text-transform: uppercase;
  display: flex;
}
.logo span {
  margin: -4px 0px 8px;
}
.logo .u {
  font-style: normal;
  letter-spacing: -2.4px;
  line-height: normal;
}
.logo .l {
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.logo .cid {
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.onepage_theme {
  margin-top: -1px;
  width: 44px;
  height: 16px;
  opacity: 0.3;
  font-size: 9px;
  margin-left: 5px;
  line-height: 10px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.14em;
  color: #ffffff;
}
.onepage_theme .onepage {
  font-style: normal;
  letter-spacing: 0.6px;
  line-height: normal;
}

.photo {
  max-height: 640px;
  width: 100%;
  position: absolute;
}

.description_header {
  padding-top: 67px;
  display: flex;
  flex-direction: column;
}

.no-gutter > [class*=col-] {
  padding-right: 0px;
  padding-left: 0;
  margin-left: 0;
}

body .wrapper .main_container .no-gutter, body .overview_wrapper .main_container .no-gutter, body .detalis_wrapper .main_container .no-gutter, body .header_wrapper .main_container .no-gutter, body .contact_us_wrapper .main_container .no-gutter {
  margin: 0;
  padding-left: 0px;
  padding-right: 0px;
}

.header_content h6 {
  color: #008ed6;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.7px;
  line-height: 48px;
  text-transform: uppercase;
  font-family: "source_sans_pro_regular";
}
.header_content h1 {
  color: #ffffff;
  font-family: "source_sans_pro_semibold";
  font-size: 48px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: normal;
  line-height: 48px;
}
.header_content p {
  font-weight: 400;
  text-align: left;
  font-size: 18px;
  margin-top: 12px;
  font-style: normal;
  letter-spacing: normal;
  color: #999999;
  font-family: "source_sans_pro_regular";
  text-transform: none;
  letter-spacing: 0px;
}
.header_content p span {
  display: block;
}
.header_content img {
  padding-top: 45px;
  margin-left: 94px;
}
.header_content .button {
  display: flex;
  margin-top: 41px;
}
.header_content .view_button {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 14px 31px 13px 27px;
  color: #ffffff;
  margin-left: 20px;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  box-sizing: border-box;
  font-family: "source_sans_pro_regular";
  text-indent: 2.3px;
}

main {
  display: flex;
  flex-direction: column;
  padding-top: 46px;
}
main .product_overview_container {
  padding-bottom: 70px;
  text-align: center;
}
main .product_overview_container span {
  color: #008ed6;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.7px;
  line-height: 48px;
  text-transform: uppercase;
  font-family: "source_sans_pro_regular";
}
main .product_overview_container h1 {
  font-size: 36px;
  color: #1a1a1a;
  letter-spacing: 0px;
  line-height: 20px;
  font-family: "source_sans_pro_semibold";
  margin-top: 7px;
  margin-left: -1px;
}
main .product_overview_container .line {
  position: relative;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
  width: 42px;
  padding: 0px;
  margin: 45px auto 0px;
}
main .product_overview_container .line .lines {
  width: 20px;
  display: flex;
  border-bottom: 2px solid #008ed6;
}

.download_button {
  background-color: #008ed6;
  box-shadow: 0 0 3px rgba(3, 3, 3, 0.1);
  padding: 15px 30px 0px 28px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "source_sans_pro_regular";
}

.view_button {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 14px 31px 13px 27px;
  color: #ffffff;
  margin-left: 20px;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  box-sizing: border-box;
  font-family: "source_sans_pro_regular";
}

.product_element {
  display: flex;
  flex-direction: column;
  padding-top: 70px;
}
.product_element .circle {
  width: 89px;
  height: 89px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  position: relative;
  align-self: center;
  justify-self: center;
  margin-top: 3px;
}
.product_element .circle img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.product_element .description_product {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  font-family: "source_sans_pro_regular";
}
.product_element .description_product h6 {
  color: #1a1a1a;
  font-size: 24px;
  font-family: "source_sans_pro_regular";
  margin-top: 31px;
  line-height: 29px;
}
.product_element .description_product p {
  max-width: 229px;
  width: 100%;
  margin: 10px auto 0px;
  font-family: "source_sans_pro_light";
  line-height: 26px;
  letter-spacing: 0.21px;
  color: #999999;
  text-indent: -4.1px;
  font-size: 18px;
}
.product_element .description_product .compare {
  text-indent: 2px;
}

.left {
  margin-right: 6.5px;
}

.right {
  margin-left: 6px;
}

.background {
  background-color: #f2f2f2;
}

.addition_slider_wrapper {
  background-color: #15141a;
  padding: 61px 0px 55px 0px;
}
.addition_slider_wrapper .button_container {
  display: flex;
  float: right;
}
.addition_slider_wrapper .button_container .view_button {
  margin-left: 0px;
  padding: 14px 29px 14px 29px;
  margin-bottom: 3px;
}
.addition_slider_wrapper .button_container .download_button {
  padding: 14px 29px 14px 29px;
  margin-left: 20px;
  margin-bottom: 3px;
}
.addition_slider_wrapper .addition_slider_content span {
  padding: 14px 0px 6px 0px;
  font-size: 36px;
  color: #1a1a1a;
  letter-spacing: 0px;
  line-height: 20px;
  font-family: "source_sans_pro_semibold";
  float: left;
  color: #ffffff;
}
.addition_slider_wrapper .addition_slider_content .get_theme {
  font-weight: 300;
  font-family: "source_sans_pro_light";
  text-indent: 10px;
}

.price_list_container {
  padding-bottom: 59px;
}
.price_list_container .title {
  padding: 42px 0px 70px;
  text-align: center;
}
.price_list_container .title h6 {
  color: #008ed6;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.7px;
  line-height: 48px;
  text-transform: uppercase;
  font-family: "source_sans_pro_regular";
}
.price_list_container .title h1 {
  font-size: 36px;
  color: #1a1a1a;
  letter-spacing: 0px;
  line-height: 20px;
  font-family: "source_sans_pro_semibold";
}
.price_list_container .title .line {
  position: relative;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
  width: 42px;
  padding: 0px;
  margin: 39px auto 0px auto;
}
.price_list_container .title .line .lines {
  width: 20px;
  display: flex;
  border-bottom: 2px solid #008ed6;
}
.price_list_container .price_list_element {
  display: flex;
  flex-direction: column;
  width: 99%;
}
.price_list_container .price_list_element:hover .type {
  color: #008ed6;
}
.price_list_container .price_list_element:hover .price {
  background-color: #008ed6;
  color: #ffffff;
}
.price_list_container .price_list_element:hover .price .dollars {
  color: #ffffff;
}
.price_list_container .price_list_element:hover .price .inscription {
  color: #ffffff;
}
.price_list_container .price_list_element:hover .description .order_button {
  background-color: #008ed6;
  color: #ffffff;
}
.price_list_container .price_list_element .type {
  padding: 17px 6px 15px 4px;
  color: #1a1a1a;
  font-family: "source_sans_pro_regular";
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  width: 100%;
  letter-spacing: 0.3px;
  border: 1px solid red;
  text-transform: uppercase;
}
.price_list_container .price_list_element .price {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 18px 0px 29px;
  border: 1px solid red;
  border-top-style: none;
}
.price_list_container .price_list_element .price .dollars {
  font-family: "source_sans_pro_semibold";
  font-size: 34px;
  line-height: 20px;
  font-weight: 600;
  color: #1a1a1a;
}
.price_list_container .price_list_element .price .number {
  font-size: 60px;
  font-family: "source_sans_pro_semibold";
  margin-right: 11px;
}
.price_list_container .price_list_element .price .inscription {
  font-size: 18px;
  margin-top: -15px;
  font-weight: 400;
  color: #999999;
  font-family: "source_sans_pro_regular";
}
.price_list_container .price_list_element .price .ultimate_compare {
  font-size: 60px;
  font-family: "source_sans_pro_semibold";
  margin-right: 4px;
}
.price_list_container .price_list_element .description {
  border: 1px solid red;
  border-top-style: none;
  padding: 47px 34px 29px 35px;
  text-align: center;
}
.price_list_container .price_list_element .description p {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  font-family: "source_sans_pro_regular";
  line-height: 26px;
}
.price_list_container .price_list_element .description p span {
  color: #008ed6;
}
.price_list_container .price_list_element .description .order_button {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 14px 31px 13px 27px;
  color: #ffffff;
  margin-left: 20px;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  box-sizing: border-box;
  font-family: "source_sans_pro_regular";
  max-width: 160px;
  width: 100%;
  border: 1px solid #e0e0e0;
  color: #008ed6;
  margin: 40px auto 0px;
  text-indent: 2px;
}
.price_list_container .ultimate_compare span {
  margin-right: -4px;
}
.price_list_container .compare {
  padding: 0px 12px;
}

.contact_us_wrapper {
  width: auto;
  background-color: #ededed;
  padding-top: 40px;
  z-index: -1000;
  box-sizing: border-box;
}
.contact_us_wrapper .contact_us_container {
  width: 100%;
  min-height: 678px;
}
.contact_us_wrapper .form {
  display: flex;
  justify-content: center;
  margin-left: -3px;
}
.contact_us_wrapper .form .form-contacts-outer {
  position: relative;
  z-index: 50;
  box-sizing: border-box;
  width: 770px;
}
.contact_us_wrapper .form .form-contacts {
  position: absolute;
  left: 0;
  top: 67px;
  width: 100%;
  padding: 60px 72px 39px 67px;
  background: #15141a;
  box-sizing: border-box;
  width: 770px;
}
.contact_us_wrapper .form .form-contacts .form-group {
  margin-bottom: 20px;
}
.contact_us_wrapper .form .form-contacts .form-control {
  background: transparent;
  border-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.2);
  font-family: "source_sans_pro_regular";
  text-transform: uppercase;
  font-weight: 700;
  opacity: 0.2;
  font-size: 14px;
}
.contact_us_wrapper .form .form-contacts textarea.form-control {
  max-width: 300px;
  width: 100%;
  height: 190px;
  margin-left: -10px;
  padding: 13px 0px 0px 20px;
}
.contact_us_wrapper .form .form-contacts .form-control:focus {
  border-color: #fff;
  color: #fff;
}
.contact_us_wrapper .form .form-contacts .form-actions {
  text-align: right;
}
.contact_us_wrapper .form .form-contacts .form-control {
  padding: 13px 12px 13px 15px;
  width: 99%;
}
.contact_us_wrapper .form .form-contacts .form-control input {
  width: 95%;
  margin-bottom: 20px;
}
.contact_us_wrapper .form .form_button_submit_container {
  text-align: center;
}
.contact_us_wrapper .form .form_button_submit_container .form_button_submit {
  background-color: #008ed6;
  box-shadow: 0 0 3px rgba(3, 3, 3, 0.1);
  padding: 15px 30px 0px 28px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "source_sans_pro_regular";
  padding: 14.5px 1px 14.5px 0px;
  border: none;
  letter-spacing: 0.3px;
  width: 76%;
  margin-right: 13px;
  margin-left: 0px;
  border-radius: 3px;
}
.contact_us_wrapper .title {
  text-align: center;
  margin-top: 1px;
}
.contact_us_wrapper .title h6 {
  color: #008ed6;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.7px;
  line-height: 48px;
  text-transform: uppercase;
  font-family: "source_sans_pro_regular";
}
.contact_us_wrapper .title h1 {
  font-size: 36px;
  color: #1a1a1a;
  letter-spacing: 0px;
  line-height: 20px;
  font-family: "source_sans_pro_semibold";
}
.contact_us_wrapper .title .line {
  position: relative;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
  width: 42px;
  padding: 0px;
  margin: 39px auto 0px auto;
}
.contact_us_wrapper .title .line .lines {
  width: 20px;
  display: flex;
  border-bottom: 2px solid #008ed6;
}
.contact_us_wrapper .title .contact_element {
  display: flex;
  flex-direction: column;
}
.contact_us_wrapper .title .contact_element span {
  font-family: "source_sans_pro_regular";
  display: block;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #999999;
}
.contact_us_wrapper .title .phone_element {
  padding: 58px 0px 0px 0px;
  text-align: left;
  text-align: center;
}
.contact_us_wrapper .title .phone_element span {
  margin-left: -25px;
}
.contact_us_wrapper .title .phone_element div {
  padding-right: 20px;
}
.contact_us_wrapper .title .phone_element div img {
  width: 18px;
  height: 32px;
  margin: 0px auto 30px;
}
.contact_us_wrapper .title .pointer_element {
  text-align: center;
  padding: 58px 0px 0px 0px;
}
.contact_us_wrapper .title .pointer_element img {
  width: 24px;
  height: 32px;
  margin: 0px auto 30px;
}
.contact_us_wrapper .title .mail_element {
  text-align: center;
  padding: 63px 0px 0px 17px;
}
.contact_us_wrapper .title .mail_element img {
  width: 32px;
  height: 22px;
  margin: 0px auto 30px;
}
.contact_us_wrapper .title .mail_element span {
  width: 100%;
  padding-top: 2px;
  text-align: center;
  margin-left: -25px;
}
.contact_us_wrapper .title .google_maps_container {
  width: 100%;
  height: 370px;
}

.footer_wrapper {
  background-color: #15141a;
  width: 100%;
  overflow: hidden;
  display: grid;
}

footer {
  width: 100%;
  padding: 55px 0px 45px;
}
footer .footer_content {
  display: flex;
  justify-content: center;
  padding-right: 45px;
}
footer .footer_content .compare {
  padding-left: 8px;
}
footer .copyright {
  color: #444348;
  font-family: "source_sans_pro_semibold";
  font-size: 14px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
  padding-top: 14px;
  text-transform: uppercase;
}

.icon {
  font-size: 18px;
  margin-left: 32px;
  color: green;
  opacity: 0.2;
}
.icon:hover {
  color: #008ed6;
}
.icon:nth-child(1) {
  margin: 1px 0px 0px 32px;
}
.icon:nth-child(3) {
  margin-left: 32px;
}
.icon:nth-child(4) {
  margin-left: 35px;
}
.icon:nth-child(5) {
  margin-left: 36px;
}

@media (max-width: 767px) {
  .header__nav {
    display: block;
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    transition: all 0.4s ease;
    text-align: center;
    left: -100%;
    background-color: #15141a;
  }

  .header__nav.open-menu {
    left: 0;
    width: 100%;
    opacity: 1;
  }

  .header__nav .header__menu {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    float: none;
  }
  .header__nav .header__menu li {
    margin: 20px auto 20px auto;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    border-bottom: 2px solid #008ed6;
  }

  .menu-burger__header {
    position: relative;
    width: 100%;
    height: 35px;
    display: block;
  }

  .menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before {
    height: 3px;
    width: 100%;
    position: absolute;
    background: #ffffff;
    margin: 0 auto;
  }

  .menu-burger__header span {
    top: 16px;
  }

  .menu-burger__header:after, .menu-burger__header:before {
    content: "";
  }

  .menu-burger__header:after {
    bottom: 5px;
  }

  .menu-burger__header:before {
    top: 5px;
  }

  .contact_us_wrapper {
    min-height: 1200px;
  }
  .contact_us_wrapper .form .form_button_submit_container .form_button_submit {
    margin-right: 0px;
  }
  .contact_us_wrapper .form .form-contacts {
    padding: 30px;
  }
  .contact_us_wrapper .form .form-contacts .form-actions {
    text-align: center;
  }
  .contact_us_wrapper .form .form-contacts textarea.form-control {
    max-width: 449px;
    width: 100%;
    margin-left: 0px;
  }

  .detalis_wrapper .second_part .detalis_description {
    padding-left: 0px;
  }
}
@media (max-width: 1200px) {
  .second_part .device_img {
    max-width: 510px;
    width: 100%;
    height: auto;
  }
  .second_part header .logo {
    margin-left: 15px;
  }
  .second_part .header_content .download_button {
    margin-left: auto;
  }
  .second_part .header_content .view_button {
    margin-right: auto;
  }

  .main_container {
    padding: 0 30px;
  }

  .content .price_list_element {
    margin: 30px;
  }

  footer .footer_content {
    padding-left: 0px;
  }

  .contact_us_wrapper .form .form-contacts-outer {
    max-width: 770px;
    width: 100%;
  }
  .contact_us_wrapper .form .form-contacts {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .header_content img {
    display: none;
  }
}
@media (max-width: 992px) {
  .header_wrapper .main_container header .header_content .description_header {
    text-align: center;
  }
  .header_wrapper .main_container header .header_content .description_header p {
    text-align: center;
  }

  .detalis_wrapper {
    padding-left: 0px;
  }
  .detalis_wrapper .second_part img {
    display: block;
    margin: 0 auto;
  }
  .detalis_wrapper .second_part .device_img {
    max-width: 510px;
    width: 100%;
    margin: 0 auto;
  }
  .detalis_wrapper .thirth_part {
    text-align: center;
  }
  .detalis_wrapper .thirth_part .second_detalis_description {
    padding-top: 0px;
  }
  .detalis_wrapper .thirth_part .line {
    margin-left: auto;
    margin-right: auto;
  }
  .detalis_wrapper .thirth_part p {
    margin-left: auto;
    margin-right: auto;
  }
  .detalis_wrapper .thirth_part img {
    margin: 0 auto;
    max-width: 718px;
    width: 100%;
    height: auto;
  }

  .addition_slider_wrapper .button_container {
    float: none;
    justify-content: center;
  }
  .addition_slider_wrapper .addition_slider_content {
    text-align: center;
  }
  .addition_slider_wrapper .addition_slider_content span {
    font-size: 24px;
    float: none;
  }

  .slider_wrapper .container .slider_container .slider {
    padding-top: 30px;
  }
  .slider_wrapper .container .slider_container .slider .slide {
    padding: 30px;
  }
  .slider_wrapper .container .slider_container .slider .slide p {
    max-width: 800px;
    width: 100%;
  }

  .price_list_container .price_list_element {
    width: 100%;
    margin-left: 0px;
  }
  .price_list_container .title {
    padding-bottom: 10px;
  }
}
@media (max-width: 400px) {
  .addition_slider_wrapper .button_container {
    flex-direction: column;
  }
  .addition_slider_wrapper .button_container .view_button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  .addition_slider_wrapper .button_container .download_button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
}