@mixin text {
    // font-weight: 700;
    // font-style: normal;
    // letter-spacing: normal;
    // text-align: left;
    // display: flex;
    // text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    font-family: 'source_sans_pro_regular'; 
}

@mixin circle {
    width: 89px;
    height: 89px;
    border-radius: 50%;
    background-color: red;
    position: relative;
    align-self: center;
    justify-self: center;
    margin-top: 3px;
    img {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    }
}

@mixin wrapper {
    width: 100%;
    overflow: hidden;
    display: grid;
    
}

// @mixin blue_title {
//     color: $blue;
//     font-size: 14px;
//     font-weight: 700;
//     font-style: normal;
//     letter-spacing: 1.7px;
//     line-height: 48px;
//     text-align: left;
//     text-transform: uppercase;
// }

// @mixin line_container {
//     position: relative;
//     flex-direction: row;
//     display: flex;
//     justify-content: space-between;
//     margin-top: 28px;
//     width: 40px;
// }

// @mixin lines {
//     width: 19px;
//     display: flex;
//     border-bottom: 2px solid $blue;
// }
// @mixin p {
//     font-family: "source_sans_pro_light";
//     line-height: 26px;
//     letter-spacing: 0.21px;
//     color: brown;
//     text-indent: -4.1px;   
//     font-size: 18px; 
// }

// @mixin title_description {
//     font-size: 36px;
//     font-weight: 600px;
//     color: $black;
//     letter-spacing: -1.5px; 
//     line-height: 20px;
// }

@mixin description {
    .title_description {
        font-size: 36px;
        font-weight: 600px;
        color: $black;
        letter-spacing: -1.5px; 
        line-height: 20px;
    }
    p {
        font-family: "source_sans_pro_light";
        line-height: 26px;
        letter-spacing: 0.21px;
        color: brown;
        text-indent: -4.1px;   
        font-size: 18px; 
    }

    .lines {
        width: 19px;
        display: flex;
        border-bottom: 2px solid $blue;
    }

    .line_container {
        position: relative;
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        margin-top: 28px;
        width: 40px;
    }
}

.blue_title {
    color: $blue;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 1.7px;
    line-height: 48px;
    text-align: left;
    text-transform: uppercase;
}