@import "colors";
@mixin text {
    // font-weight: 700;
    // font-style: normal;
    // letter-spacing: normal;
    // text-align: left;
    // display: flex;
    // text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    font-family: 'source_sans_pro_regular'; 
}

@mixin circle {
    width: 89px;
    height: 89px;
    border-radius: 50%;
    background-color: red;
    position: relative;
    align-self: center;
    justify-self: center;
    margin-top: 3px;
    img {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    }
}

@mixin wrapper {
    width: 100%;
    overflow: hidden;
    display: grid;
    
}

@mixin title_description {
        font-size: 36px;
        color: $black;
        letter-spacing: 0px; 
        line-height: 20px;
        font-family:  "source_sans_pro_semibold";
    }


@mixin p {
        font-family: "source_sans_pro_light";
        line-height: 26px;
        letter-spacing: 0.21px;
        color: brown;
        text-indent: -4.1px;   
        font-size: 18px; 
    }


@mixin lines {
        width: 20px;
        display: flex;
        border-bottom: 2px solid $blue;
    }

@mixin line_container {
        position: relative;
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        margin-top: 28px;
        width: 42px;
        padding: 0px;
    }

@mixin blue_title {
    color: $blue;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.7px;
    line-height: 48px;  
    text-transform: uppercase;
    font-family:  'source_sans_pro_regular';
}

@mixin download_button {
    background-color: $blue;
    box-shadow: 0 0 3px rgba(3, 3, 3, 0.1);
    // padding: 15px 22px 0px 23px;
    // padding: 15px 22px 0px 16px;
    padding: 15px 30px 0px 28px;
    // box-sizing: border-box;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    // text-align: center;
    text-transform: uppercase;
    font-family:  'source_sans_pro_regular';
}

@mixin view_button {
        border: 1px solid rgba(255, 255, 255, 0.2);
        // text-align: center;
        // padding: 20px 31px 0px 31px;
        // padding: 20px 31px 8px 10px;
        padding: 14px 31px 13px 27px;
        color: $white;
        margin-left: 20px;
        font-size: 14px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: 0.6px;
        text-transform: uppercase;
        box-sizing: border-box;
        font-family:  'source_sans_pro_regular';
        // border: 1px solid rgba(255, 255, 255, 0.2);
}