
@import "mixin";
@import "colors";

body{overflow-x: hidden}
.wrapper{
    @include wrapper;
}

.main_container{
    max-width: 1170px;
    position: relative;
    width: 100%;
    margin: 0 auto;

}

.overview_wrapper{
    @include wrapper;
    border-bottom: 1px solid red;
}

.detalis_wrapper{
    @include wrapper;
    padding: 65px 0px 0px 64px;
    h6{
        @include blue_title;
        letter-spacing: 1.7px;
        line-height: 48px;
        font-size: 14px;
    }
    h1{
       @include title_description;
      
    }
    p {
        @include p;
        max-width: 470px;
        width: 100%;
        text-indent: 0;
        margin-top: 25px;
        letter-spacing: 0.29px;
    }
    
    // .compare {
    //     margin-top: -5px;
    // }
   
    .detalis_description{
        display: flex;
        flex-direction: column;
        padding: 33px 0px 0px 83px;
        .line{
            @include line_container;
            .lines{
                @include lines;
            }
        }
        span{
            color: $black;
            font-weight: 400;
            line-height: 36px;
            span{
                margin-left: 10px;
                font-family: 'source_sans_pro_regular';
                font-size: 18px;
            }
        }
        div {
            display: flex;
            flex-direction: column;
            margin-top: 9px;
        }
        img {
            margin-bottom: 4px;
        }
        .energy_img {
            padding-left: 1.2px;
        }
        .mouse_img {
            margin: 0px 0px 2px 2.6px;
        }
    }

    .second_detalis_description{
        padding: 65px 0px 0px 11.5px;
        .line{
            @include line_container;
            margin-top: 39px;
            .lines{
                @include lines;
            }
        }
        span{
            letter-spacing: 0.4px;
        };
        p {
            margin-top: 23px;
            span{
                letter-spacing: 0.35px;
                }
        }
    }
    .thirth_part{
        padding: 33px 0px 20px 0px;
        img {
            margin-top: -15px;
            margin-left: -16px;
        }
    }

}

.left_wrapper{
    padding: 33px 0px 0px 0px;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 41px;
}

.logo{
    @include text;
    font-weight: 700;
    color: $white;
    font-family: "quicksand_regular";
    font-size: 24px;
    text-align: left;
    text-transform: uppercase;
    display: flex;
    span {
        margin-top: -4px;
    }
    .u{
        font-style: normal;
        letter-spacing: -2.4px;
        line-height: normal;

    }

    .l{
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
    }
    .cid{
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
    }

}

.onepage_theme{
    margin-top: -1px;
    width: 44px;
    height: 16px;
    opacity: 0.3;
    font-size: 9px;
    margin-left: 5px;
    line-height: 10px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.14em;
    color: $white;
    .onepage {
        font-style: normal;
        letter-spacing: 0.6px;
        line-height: normal;
    }
}

nav{
    display: flex;
    margin-top: 2px;
    padding-top: 2px;
    padding-right: 0px;
    color: $white_nav;
    ul{
        display: flex;
        margin-left: auto;
    }
    li{
        font-family: 'source_sans_pro_semibold';
        font-size: 16px;
        list-style-type: none;
        margin-top: -7px;
        margin-left: 23.5px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        position: relative;
        &:hover::before{
            @include underline;
            margin-top: 31px;
            // left: 50%;
            transform: translate(-11px);
          }
          &:hover::after{
            @include underline;
            transform: translate(11px);
            margin-top: 7px;

          }
      
        }     
    }

.photo{
    max-height: 640px;
    width: 100%;
    position: absolute;
} 

.description_header{
    padding-top: 66px;
    display: flex;
    flex-direction: column;
}

.no-gutter > [class*='col-'] {
    padding-right: 0px;
    padding-left: 0;
    margin-left: 0;
}

body{
    .wrapper, .overview_wrapper, .detalis_wrapper {
        .main_container{
                .no-gutter{
                    margin: 0;
                    padding-left: 0px;
                    padding-right: 0px;
                }
           
            }
        }
}

.header_content{

    h6{
       @include blue_title;
    }

    h1{
        color: $white;
        font-family: "source_sans_pro_semibold";
        font-size: 48px;
        font-weight: 600;
        font-style: normal;
        letter-spacing: normal;
        line-height: 48px;
    }

    p{
        font-weight: 400;
        text-align: left;
        font-size: 18px;
        margin-top: 13px;
        font-style: normal;
        letter-spacing: normal;
        color: $gray;
        font-family: 'source_sans_pro_regular';
        text-transform: none;
        letter-spacing: 0px;
        
        span {
            display: block;
        }
    }
    img {
        padding-top: 45px;
        margin-left: 94px;}

    .button {
        display: flex;
        margin-top: 41px;
    }

    .view_button {
        @include view_button;
        text-indent: 2.3px;
    }
}
// -------------------------------------------------------------

main {
    display: flex;
    flex-direction: column;
    padding-top: 46px;
        .product_overview_container{
            padding-bottom: 70px;
            span{
                @include blue_title;
            }
            text-align: center;
            h1 {
              @include title_description;
              margin-top: 7px;
              margin-left: -1px;
            }
            .line {
                @include line_container;
                margin: 45px auto 0px;
                .lines {
                    @include lines;
                }
            }
        }
}

.download_button{
    @include download_button;
}

.view_button{
   @include view_button;
}

.product_element{
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    
    

    .circle {
        @include circle;
    }
    .description_product{
        h6{
            color: $black;
            font-size: 24px;
            font-family: 'source_sans_pro_regular';
            margin-top: 31px;
            line-height: 29px;
        }
        @include text;
       
        p{
            max-width: 229px;
            width: 100%;
            margin: 10px auto 0px;
            @include p;
        }

        .compare {
            text-indent: 2px;
        }
    }
}
.left {
    margin-right: 6.5px;
}
.right {
    margin-left: 6px;
}
.background{
    background-color: $gray;
}

.addition_slider_wrapper{
    width: 100%;
    background-color: #15141a;
    padding: 60px 0px 50px 0px;
    margin-top: -1px;
    .addition_slider_content{
        display: flex;
        span{
            padding: 14px 0px 6px 0px;
            @include title_description;
            float: left;
            color: $white;
        }
        .get_theme {
            font-weight:300;
            font-family: "source_sans_pro_light";
            text-indent: 10px;
        }
        .button_container{
            margin-left: auto;
            display: flex;
            padding-bottom: 10px;
        }
        .view_button{
            margin: 0px 20px 0px 0px;
        }
}
}

.price_list_container{
    padding-bottom: 59px;
    // padding: 42px 0;
    .title {
        padding: 42px 0px 70px;
        text-align: center;
        h6{
            @include blue_title;
        }
        h1{
            @include title_description; 
        }
        .line{
            @include line_container;
            // margin: 0 auto;
            margin: 39px auto 0px auto;
            .lines{
                @include lines;
            }
        }
    }

    .price_list_element{
        display: flex;
        flex-direction: column;
        // width: 100%;
        // margin: 0 auto;
        // margin-left: 30px;
        .type{
            padding: 19px 0px 15px;
            color: $black;
            font-family:'source_sans_pro_regular';
            font-size: 24px;
            font-weight: 700;
            text-align: center;
            width: 100%;
            border: 1px solid red;
            text-transform: uppercase;
        }
        .price {
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 18px 0px 29px;
            border: 1px solid red;  
            border-top-style: none;    
            .dollars {
                font-family: 'source_sans_pro_semibold'; 
                font-size: 34px;
                line-height: 20px;
                font-weight: 600;
                color: $black;
            }
            .number{
                font-size: 60px;
                font-family: 'source_sans_pro_semibold'; 
                margin-right: 5px;
            }
            .inscription {
                font-size: 18px;
                margin-top: -15px;
                font-weight: 400;
                color: $gray;
                font-family: 'source_sans_pro_regular'; 

            }
        }
        
        .description{
            border: 1px solid red;
            border-top-style: none;  
            p {
                @include text;
                line-height: 26px;
                span {
                    color: $blue;
                }
            }       
            padding: 47px 34px 29px 35px;
            text-align: center;
            .order_button{
                @include view_button;
                max-width: 160px;
                width: 100%;
                border: 1px solid $strong_lite_gray;
                color: $blue;
                margin: 40px auto 0px;
                text-indent: 2px;
                 
            }
            }
        }

        .compare {
            padding: 0px 12px;
        }
    }
.contact_us_wrapper{
    position: relative;
    // overflow: visible;
    @include wrapper;
    background-color: $lite_gray;
    padding-top: 40px;
    padding-bottom: 361px;
    z-index: -1000;
    .title{
        text-align: center;
        h6{
            @include blue_title;
        }
        h1 {
            @include title_description;
        }
        .line{
            @include line_container;
            margin: 39px auto 0px auto;
            .lines{
                @include lines;
            }
        }
    }
    .contact_element{
        text-align: center;
        display: flex;
        flex-direction: column;
        span{
            font-family:'source_sans_pro_regular'; 
            display: block;
            font-size: 18px;
            line-height: 26px;
            font-weight: 400;
            color: $gray;  
        }
    }

    .phone_element{
        margin: 0 auto;
        padding: 58px 0px 0px 4px;

        img {
            width: 18px;
            height: 32px;
            margin: 0px auto 30px;
        }
    }
    .pointer_element{
        margin: 0 auto;
        padding: 58px 0px 0px 24px;
        img {
            width: 24px;
            height: 32px;
            margin: 0px auto 30px;
        }
    }
    .mail_element{
        margin: 0 auto;
        padding: 63px 0px 0px 42px;
        img {
            width: 32px;
            height: 22px;
            margin: 0px auto 30px;
        }
        span{
            text-indent: -25px;
            padding-top: 2px;
        }
    }

}

.colr{
    background-color: green;
}

.google_maps_container{
    width: 100%;
    height: 370px;
    z-index: -1000;

   
        .form_container {
            // position: absolute;
            // overflow: visible;
            // overflow: hidden;
            // background-color: $dark_black;
            display: flex;
            justify-content: center;
            width: 1170px;
            text-align: center;
            // bottom: 0;
            // position: absolute;
            // top: 200px;
            // bottom: -100px;
            // margin-left: 9px;
            margin: -600px auto 0px auto;   
            position: absolute;
            // margin-top: -600px;
            // margin-top: 10px;        // top: 950px;
            // z-index: 1000;
            // // float: bottom;
            // margin-top: auto;
            // margin-top: 400px;
            // margin-right: -40px;
            // .col-8{
            form {
                // overflow:visible;
                // top: 550px;
                z-index: 1000;
                // margin-top: 400px;
                max-width: 770px;
                width: 100%;
        
                margin: 0px auto 0px auto;
                // bottom: -10px;
                background-color: $dark_black;
                padding: 37px 95px 40px 66px;
                color: rgb(190, 134, 134);
                display: flex;
                // position: absolute;
                // z-index: 1000 !important;
                // box-sizing: border-box;
                // div {
                //     width: 50%;
                // }
                .compare{
                    margin-left: 19px;
                    height: 190px;
                }
                // position: absolute;
                input {
                    width: 300px;
                    // width: 100%;
                    background-color: $dark_black;
                    border: 1px solid rgba(255, 255, 255, 0.2);
                    padding: 13px 18px 10px 18px;
                    margin-top: 21.7px;
                    // box-sizing: border-box;
                    &::placeholder{
                        opacity: 0.2;
                        color: $white;
                        font-family: 'source_sans_pro_regular'; 
                        font-size: 14px;
                        font-weight: 700;
                        text-transform: uppercase;
                    }
        
                }       
                
            }
    }
    // position: relative;
}

.footer_wrapper{
    background-color: $dark_black;
    @include wrapper;
}

footer {
    // display: flex;
    width: 100%;
    // justify-content: center;
    
    padding: 55px 0px 45px;
    .footer_content{
        // margin-left: -10px;
        display: flex;
        padding-left: 58px;
        // padding-right: 38px;
        .compare {
            padding-left: 8px;
        }
        // justify-content: space-between;
    }

    .copyright {
        color: $dark_gray;
        font-family: 'source_sans_pro_semibold';
        font-size: 14px;
        font-weight: 400;
        line-height: 48px;
        text-align: center;
        padding-top: 14px;
        text-transform: uppercase;
    }

}

.icon{
    font-size: 18px;
    margin-left: 32px;
    // background-color: brown;
    color: green;
    // background-color: red;
    &:hover{
        color: $blue;
    }
    opacity: 0.2;
    &:nth-child(1){
        margin: 1px 0px 0px 32px;
    }
    &:nth-child(3){
        margin-left: 32px;
    }
    &:nth-child(4){
        margin-left: 35px;
    }
    &:nth-child(5){
        margin-left: 36px;
    }
}