@import "node_modules/bootstrap/scss/bootstrap"; 

@import "mixin";
@import "colors";
@import "variables";
@import "header";                        
@import "footer";
@import "contact-form";                                                    
@import "slider";
            


.section-features{
    @include wrapper;
    border-bottom: 1px solid $strong_light_gray;
    
}

body {
    overflow-x: hidden;
    h1{
        @include title_description(36px);
    }
    h6{
        @include blue_title;
    }
    .line{
        @include line_container;
        .lines{
            @include lines;
        }
    }
}
.main_container{
    max-width: 1170px;
    position: relative;
    width: 100%;
    margin: 0 auto;
}
.features_wrapper{
    @include wrapper;
    border-bottom: 1px solid $strong_light_gray;
}
.section-about-device{
    @include wrapper;
    padding: 66px 0 0 64px;
    h6{
        letter-spacing: 1.7px;
        line-height: 48px;
        font-size: 14px;
    }
    p {
        @include p;
        max-width: 470px;
        width: 100%;
        text-indent: 0;
        margin: 25px 0 26px;
        letter-spacing: 0.29px;
    }
    .content-about-device{
        .detalis_description{
            display: flex;
            flex-direction: column;
            padding: 34px 0 0 80px;
            .line{
                margin-top: 35px;
            }
        .description_device_container{
            .description_device {
                display: flex;
                flex-direction: row;
                font-size: 18px;
                color: $dark;
                font-family: $regular;
                line-height: 35px;
                img {
                    height: 17px;
                    display: block;
                    margin: 9px 9px 0 0;
                }
                .mouse{
                    margin-left: 3px;
                }
                .energy{
                    margin: 9px 9px 0 3px;
                }
                .speedometer{
                    margin-top: 10px;
                }
            }
            span{
                margin: 0 0 1px;
            }
            div {
                display: flex;
                flex-direction: column;
            }
        }
    }
    .device_img{
        width: 510px;
        height: auto;
        margin-left: -12px;
    }
    }   
    .second_detalis_description{
        padding: 66px 0 0 11.5px;
        .line{
            margin: 38px 0 0;
        }
        span{
            letter-spacing: 0.4px;
        };
        p {
            margin-top: 23px;
            span{
                letter-spacing: 0.35px;
                }
        }
    }
    .thirth_part{
        padding: 33px 0 20px 0;
        img {
            margin-top: -15px;
            margin-left: -16px;
        }
    }

}

.second{
    padding: 33px 0 0;
    background-color: $gray_white;
}

.no-gutter > [class*='col-'] {
    padding-right: 0px;
    padding-left: 0;
    margin-left: 0;
}

body{
    .main_container{
            .no-gutter{
                 margin: 0;
                padding-left: 0;
                padding-right: 0;
                }
            }
    }
// -------------------------------------------------------------
.features_container {
    display: flex;
    flex-direction: column;
    padding-top: 46px;
        .product_overview_container{
            padding-bottom: 70px;
            span{
                @include blue_title;
            }
            text-align: center;
            h1 {
              margin: 7px 0 0 -1px;
            }   
            .line {
                margin: 45px auto 0;
            }
        }
}
.download_button{
    @include download_button;
    &:hover{
        opacity: 0.5;
        cursor: pointer;
    }
}
.view_button{
   @include view_button;
   &:hover{
    opacity: 0.5;
    cursor: pointer;
}
}
.product_element{
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    .circle {
        @include circle;
    }
    .description_product{
        h6{
            color: $black;
            font-size: 24px;
            font-family: $regular;
            margin: 30px 3px 0 0;
            line-height: 29px;
            font-weight: 400;
            letter-spacing: 0;
            text-transform: none;
        }
        .align_title{
            margin-left: 3px
        }
        @include text;
        p{
            max-width: 229px;
            width: 100%;
            margin: 10px auto 0;
            @include p;
        }
        .align {
            text-indent: 2px;
        }
    }
}

.left {
    margin-right: 6.5px;
}
.right {
    margin-left: 6px;
}

.section-callout-slider{
    background-color: $dark_black;
    padding: 61px 0 56px 0;
    .button_container{
        display: flex;
        float: right;
        .view_button{
            padding: 14px 0 14px 0;
            text-align: center;
            margin: 0 0 3px 0;
        }
        .download_button {
            padding: 14px 0 14px 0;
            text-align: center;
            margin-left: 20px;
            margin-bottom: 4px;   
        }
    }
    .addition_slider_content{
        span{
            padding: 14px 0 6px 0;
            @include title_description(36px);
            float: left;
            color: $white;
        }
        .get_theme {
            font-weight:300;
            font-family: $light;
            text-indent: 10px;
        }
    }
}
.section-pricing{
    @include wrapper;
    .price_list_container{
        padding-bottom: 59px;
        .title {
            padding: 40px 0 72px;
            text-align: center;
            h1{
                line-height: 19px;
            }
            .line{
                margin: 39px auto 0 auto;
        }
    }
    .price_list_element{
        display: flex;
        flex-direction: column;
        width: 99%;
        &:hover{
            .type{
                color: $blue;
                }
            .price {
                background-color: $blue;
                color: $white;
                .dollars {
                    color: $white;
                        }
                        .inscription{
                            color: $white;
                        }
                    }
                    .description{
                        .order_button{
                            background-color: $blue;
                            color: $white;
                            }
                        }
                    }
        .type{
            padding: 17px 6px 15px 4px;
            color: $black;
            font-family: $regular;
            font-size: 24px;
            font-weight: 700;
            text-align: center;
            width: 100%;
            letter-spacing: 0.3px;
            border: 1px solid $strong_light_gray;
            text-transform: uppercase;
        }
        .price {
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 18px 0 29px;
            border: 1px solid $strong_light_gray;
            border-top-style: none; 
            font-family: $semibold; 
            .dollars {
                font-size: 34px;
                line-height: 20px;
                font-weight: 600;
                color: $black;
            }
            sup {
                top: -17.5px;
                left: 3px;
            }
            .number{
                font-size: 60px;
                margin-right: 11px;
            }
            .inscription {
                font-size: 18px;
                margin-top: -15px;
                font-weight: 400;
                color: $gray;
                font-family: $regular; 
            }
            .ultimate_align {
                font-size: 60px;
                margin-right: 4px;
            }
            
        }
        .description{
            border: 1px solid $strong_light_gray;
            border-top-style: none;  
            p {
                @include text;
                line-height: 26px;
                max-width: 196px;
                margin: 0 auto;
                span {
                    color: $blue;
                }
            }       
            padding: 47px 0 29px 8px;
            .order_button{
                @include view_button;
                border: 1px solid $strong_light_gray;
                color: $blue;
                // padding: 14px;
                margin: 40px auto 0;
                // text-indent: 2px;
            }
        }
        .align_text{
            padding-left: 0px;
        }
        }
        .ultimate_align{
            span{
                margin-right: -4px;
            }
        }
        .align {
            padding: 0 12px;
        }
    }
}

@media(max-width: 767px){
    header{
        padding-top: 0;
    } 
    .header_wrapper{
        .navigation{
            background-color: $brown_black;
            padding: 30px 30px 30px 30px;
            position: fixed;
            top: 0;
            width: 100%;
            right: 0;
            z-index: 10;
            .header__nav {
                display: block;
                position: absolute;
                top: 0;
                width: 100%;
                transition: all 0.4s ease;
                text-align: center;
                left:-120%;
                
            
            }
            .header__nav.open-menu{
                left:0;
                width: 100%;
                opacity: 1;
                position: fixed;
                background-color: $brown_black;
                min-height: 410px;
                height: 100%;
            }
            .header__nav{
                .header__menu {
                    display: flex;
                    flex-direction: column;
                    padding: 0;
                    text-align: center;
                    float: none;
                    top: 60px;
                    
                    li {
                        margin: 15px auto;
                        font-size: 16px;
                        font-weight: bold;
                        width: 100%;
                        border-bottom: 1px solid $gray;
                    }
                }
            }
            .menu-burger__header {
                position: relative;
                height: 30px;
                display: block;
                z-index: 3;
                position: fixed;
                top: 0;
                right: 0;
                margin-top: 40px;
                margin-right: 30px;
            }
            .menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before{
                height: 2px;
                width: 100%;
                max-width: 40px;
                position: absolute;
                background: $white;
            }
            .menu-burger__header span{
                top: 14px;
            }
            .menu-burger__header:after, .menu-burger__header:before{
                content: '';
            }
            .menu-burger__header:after{
                bottom: 5px;
            }
            .menu-burger__header:before{
                top: 5px;
            }
        }
    }
        .section-contacts{
            .title{
                .phone_element, .mail_element {
                    div{
                        padding-right: 0;
                    }
                    span{
                        margin-left: 0;
                    }
                }
            }
             .contact_us_container{
                 min-height: 1100px;
             }
                .form{
                    .form_button_submit_container{
                        .form_button_submit{
                            margin-right: 0;
                        }
                    }
                    .form-contacts{
                        .form-actions{
                            text-align: center;
                        }        
                        padding: 30px;
                        textarea.form-control {
                            max-width: 449px;
                            width: 100%;
                            margin-left: 0;
                        }
                    }
                }
            }
            body {
                h1{
                    @include title_description(24px);
                    margin-bottom: 20px;
                    line-height: 32px;
                }
            }
    
}
@media(max-width:1200px){
    .second{
        .thirth_part{
            img {
                margin: 0 auto;
                max-width: 718px;
                width: 100%;
                height: auto;
            }
        }
    }
    .header_wrapper{
        .navigation{
            padding: 41px 30px 0px;
        }
        .main_container{
                header {
                    .header_content{
                        img {
                            max-width: 505px;
                            width: 100%;
                            margin-left: 0;
                        }
                        .download_button{
                            margin-left: auto;
                        }
                        .view_button{
                            margin-right: auto;
                        }
                        text-align: center;  
                        .description_header{
                            padding-bottom: 30px;
                            p{
                                text-align: center;
                            }
            }
        }
    }
}
}
.section-pricing{
    .price_list_container{
        .price_list_element{
            width: 100%;
            margin-left: 0;
        }
            .title{
                padding-bottom: 10px;
    }
}
}
.main_container{
    padding: 0 30px;
}
.content{
    padding: 2px;
    .price_list_element{
        margin: 30px;
    }
}
footer{
    .footer_content{
        padding-left: 0;
    }
}
.section-contacts{
    .form{
        .form-contacts-outer{
            max-width: 770px;
            width: 100%;
        }
        .form-contacts{
            width: 100%;
        }
}
}
.section-about-device {
    padding-left: 0;
    .content-about-device{
        .detalis_description{
            padding-left: 0px;
        }
        .device_img{
            max-width: 510px;
            width: 100%;
            height: auto;
        }
        text-align: center;
        .line{
            margin: 0 auto 30px;
        }
        p{
            margin: 0 auto 30px;
        }
        img{
            display: block;
            margin: 0 auto;
        }
        .device_img{
            max-width: 510px;
            width: 100%;
            margin: 0 auto;
        }
        .description_device_container{
            text-align: center;
            margin: 0 auto 30px;

        }
    }
    .thirth_part {
       text-align: center;
       .second_detalis_description{
           padding-top: 0;
           .line{
                margin: 30px auto;
        }
    }
      p{
         margin: 0 auto;
      }
    }
}
}
@media(max-width:600px){
    .header_content{
        img{
            display: none;
        }
    }
    .description_device_container{
        span{
            font-size: 14px;
        }
    }
}
@media(max-width:992px){
    
.section-callout-slider{
    .button_container{
        float: none;
        justify-content: center;
        flex-direction: column;
        .view_button, .download_button{
            margin: 20px auto 0;
        }
    }
    .addition_slider_content{
        text-align: center;
        span{
            font-size: 24px;
            float: none;
        }
    }
}
 
}


    


